:root{
    --drak: #2b292b;
    --primary: #2e4da7;
    --margin-pc: 0.5%;
    --margin-mob: 1%;
}

html {height: 100%;background-color: #aaaaaa;}
body {font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;height: 100%;;
}
code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;}
#root {height: 100%;}
button:hover{box-shadow: -2px 2px 1px #2e4da799;}
button:active {box-shadow: none;}
#headerlink {text-decoration: none;}
#headerlink:hover{text-decoration: underline;}
#headerlink:active{text-decoration: none;}

/* Home screen*/
#h_imgbtn {opacity: 0.3;}
#h_imgbtn:hover {opacity: 0.8;}
#h_imgbtn:active {color: #2e4da7;}


/* Login page */
#l_input {
    width: 100%;
    z-index: 10;
    color: #000;
    font-size: large;
    letter-spacing: 1px;
    border: 0;
    border-radius: 0;
    padding: 3% 0%;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    box-shadow: none;
}
#l_input:focus {outline: none;}
#l_input~#l_inputline {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2e4da7cc;
    transition: 0.6s;
}
#l_input:focus~#l_inputline {width: 100%;transition: 0.6s;}
/* #l_input ~ .l_inputtitle{position: absolute; left: 0; width: 100%; top: 20px; color: #ccc;z-index:-1; transition: 0.3s; letter-spacing: 0.5px;}
#l_input:focus ~ .l_inputtitle{top: -5px; font-size: 12px; color: #2e4da7; transition: 0.3s;} */
#l_linkspan:hover {cursor: pointer;}
#l_button:hover {background-color: #2e4da7;box-shadow: -2px 3px 1px 0 #2e4da7aa;cursor: pointer;}
#l_button:active {box-shadow: none;}

/* Garage screen */
#g_l_button:hover{background-color: #2e4da7;}
#g_l_button:active{box-shadow: none;background-color: #2e4da7;}
#g_addbutton:hover{background-color: #2e4da7;}
#g_addbutton:active{left: 2.4%;bottom:5.1%;background-color: #2e4da7;box-shadow: none;}

@media screen and (min-width: 100vh) {
    #h_showcase {flex-direction: row;}
    #h_gallery {width:47%}
    #h_getstarted {width:48%}
    #h_goalsdiv {flex-direction: row;}
    #h_goal {width: '40%',}
    #t_l_cont {display: flex;}
    #t_l_input, #t_l_field {width: 70%;}
    #t_l_key {font-size: 24px,}
    #headerhead {font-size: 40px;}
    #headeruser {font-size: 35px;}
    #headerbar {display: none;}
    #headerlink {display: flex}
    #l_container {margin-top: 4%;}
    #cardcarname {font-size: 30px;}
    #carddetails{font-size: 20px}
    #g_leftbar {display: flex;flex-direction: column;}
    #g_carddiv {width:75%;}
}

@media screen and (min-height: 80vw) {
    #h_showcase {flex-direction: row;}
    #h_gallery {width:47%}
    #h_getstarted {width:48%}
    #h_goalsdiv {flex-direction: row;}
    #h_goal {width: '40%',}
    #t_l_cont {display: block;}
    #t_l_input, #t_l_field {width: 93%;}
    #t_l_key {font-size: small,}
    #headeruser {font-size: 30px;}
    #headerhead {font-size: 35px;}
    #headerbar {display: none;}
    #headerlink {display: flex}
    #cardcarname {font-size: 25px;}
    #carddetails{font-size: 20px}
    #g_leftbar {display: flex;flex-direction: column;}
    #g_carddiv {width:75%}
}

@media screen and (min-height: 100vw) {
    #h_showcase {flex-direction: column;}
    #h_gallery {width:90%}
    #h_getstarted {width:90%}
    #h_goalsdiv {flex-direction: column;}
    #t_l_cont {display: block;}
    #t_l_input, #t_l_field {width: 93%;}
    #t_l_key {font-size: small,}
    #headeruser {font-size: 25px;}
    #headerhead {font-size: 30px;}
    #headerbar {display: flex;}
    #headerlink {display: none;}
    #cardcarname {font-size: 20px;}
    #carddetails{font-size: 15px}
    #g_leftbar {display: none;}
    #g_carddiv {width:100%}
}

@media screen and (min-height: 120vw) {
    #h_showcase {flex-direction: column;}
    #h_gallery {width:90%}
    #h_getstarted {width:90%}
    #h_goalsdiv {flex-direction: column;}
    #l_container {margin-top: 8%;}
    #headeruser {font-size: 18px;}
    #headerhead {font-size: 30px;}
    #headerbar {display: flex;}
    #headerlink {display: none;}
    #cardcarname {font-size: 20px;}
    #carddetails{font-size: 15px}
    #g_carddiv {width:100%}
    #g_leftbar {display: none;}
    #t_l_cont {display: none;}
    #t_l_input, #t_l_field {width: 93%;}
    #t_l_key {font-size: small,}
}
