#main{
    background-color: whitesmoke;
    height: 100%;
    width:100%;
    margin: 0;
}
#container{
    display: flex;
    margin: 5% 35%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60%;
    width: 30%;
    min-height: 350px;
    max-height: 450px;
    min-width: 350px;
    max-width: 400px;
    box-shadow: 5px 5px 5px gray;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 75%;
}
#title{
    align-self: center;
    margin-top: 10%;
}
#input{
    width: 100%;
    height: 9%;
    margin-top: 10%;
    font-size: medium;
}
#button{
    width: 50%;
    text-align: center;
    text-decoration: none;
    padding:4%;
    margin-top: 10%;
    color: white;
    background-color: #3F51B5cc;
    border: none;
    border-radius: 25px;
    /* font-size: medium; */
}
#button:hover{
    background-color: #3F51B5;
    box-shadow: 1px 3px 2px 0 #3F51B5aa;
}
#links{
    margin-top: 8%;
}
span{
    color:#3F51B5
}
span:hover,button:hover{
    cursor: pointer;
}
